.dialog-form {
  //display: flex;
  max-width: 450px;
  margin-top: 5px;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  input {
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
  }
  input[type="submit"] {
    margin-top: 20px;
  }
  span:has(input) {
    display: block;
  }
  p,
  span,
  label {
    margin-left: 5px;
  }
}
